.recommended{
    flex-basis: 30%;
}

.side-video-list{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-video-list img{
    width: 50%;
    /* flex-basis: 49%; */
    border-radius: 12px;
}

.vid-info{
    flex-basis: 49%;
}

.vid-info h4{
    font-size: 16px;
    margin-bottom: 5px;
}

.vid-info p{
    font-size: 13px;
    margin-bottom: 5px;
    font-style: italic;
}

.vid-info span{
    font-size: 15px;
    margin-bottom: 5px;
}

@media (max-width:900px) {
    .recommended{
        flex-basis: 100%;
        margin-top: 30px;
    }
}